.my_wish{
  margin-top:10px;
  .lmr{
    width: 100%;
    margin-top: 0.5rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    .amy_left{
      float: left;
      width: 16%;
      margin-left: 1.5rem;
      border: 1px solid #989999;
      img {
        width: 100%;
      }
    }
    .amy_middle {
      float: left;
      width: 62%;
      margin-left:3%;
      p{
        font: 1rem/1.3rem 'arial';
        color:#333;
        line-height: 1.4;
        span{
          color:#c01920;
        }
        img{
          width:6%;
        }
        font{
          color:#007600;
        }
      }
    }
    p.my_hui{
      font: 1rem/1.2rem 'arial';
      color:#787878;
      margin-left: 5%;
      line-height: 1.3;
      img{
        width: 25%;
        border: 1px solid #989999;
        margin: 5px 0 5px 10%;
      }
    }
    .amy_right {
      float: left;
      margin-top: 20px;
    }
    .my_dea{
      .text-default{
        padding: 0 1.1rem;
        border: 1px solid #929394;
        border-radius: 5px;
        width: 14%;
        height: 38px;
        margin-right: 10px;
        font-size: 1.4rem;
        float: left;
      }
      overflow: hidden;
      width: 95%;
      margin: 10px 4%;
      .btn-default{
        margin-right: 3%;
        position: relative;
        float: left;
        img{
          display: block;
          position: absolute;
          right: 7px;
          top: 10px;
        }
      }
      .btn-red{
        width: 40%;height: 40px;font-size:1.2rem;
      }
    }
  }
  .recommend{
    overflow: hidden;
    // .recommend-list{
    // 	width: 10000px;
    // 	margin-top: 0.3rem;
    // 	margin-bottom: 1rem;
    // 	overflow: auto;
    // 	li{
    // 		margin-right: 0.5rem;
    // 		float: left;
    // 	}
    // }
    .flexslidertwo{
      margin-top: 0.3rem;
      margin-bottom: 1rem;
      .flex-control-nav,.flex-direction-nav{
        display: none;
      }
    }
  }
}