/*recover password*/
.pay-failure-word{
  font-size: 1.2rem;
  font-family: 'arial';
  color: #c01920;
  text-align: left;
  margin: 1.5rem 0 0.5rem;
  padding:0 4.5%;
}
.success-word{
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-family: 'arial';
  text-align: left;
  margin: 1.5rem 0 0.5rem;
  padding:0 4.5%;
  span{
    color:#007600;
    font-weight: bold;
  }
}
.recover_h2{
  font: 1.5rem/2.5rem 'arial';
  padding: 0 4.5%;
  margin-top: 5px;
  color:#007600;
}
.recover_remind{
  font:1.3rem/1.5rem 'arial';
  color:#888888;
  margin-top:5px;
}