#size_chart_own{
  .ord {
    margin-top: 3%;
    width: 100%;
  }

  .ord p {
    margin-left: 5%;
  }

  .cc {
    font: 1.2rem/1.5rem Arial;
    width: 30%;
    color: #929394;
  }

  .ccnn {
    font: 1.2rem/2rem Arial;
    width: 30%;
    border-top: 1px #CBC8C6 solid;
  }
  .modle {
    margin: 0 auto;
    width: 90%;
    padding-top: 0.5rem;
    background: #ffffff;
    margin-top: 0.5rem;
  }
  .modle img {
    width: 100%;
    margin-top: 3%;
  }

}