.size-chart-total{
  padding:0 3%;
  .sctable{border-right:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;width:100%;margin-top:10px;vertical-align:middle;}
  .sctable td{border-left:1px solid #d6d6d6;border-top:1px solid #d6d6d6;vertical-align:middle;}
  .sctable th{border-left:1px solid #d6d6d6;border-top:1px solid #d6d6d6;height:1.8rem;background:#eeeeee;font:1.2em 'arial';vertical-align:middle;}
  .biaoti{color:#929394;background:#ffffff;font-size:0.8rem;text-align:center;font-family:Arial;}
  .cm{color:#929394;background:#ffffff;font-size:0.8rem;text-align:center;width:11%;height:1.8rem;font-family:Arial;}
  .inch{color:#929394;background:#eeeeee;font-size:0.8rem;text-align:center;width:11%;height:1.8rem;font-family:Arial;}
}
